.libro{

    background-color: white;
    color: black;
    margin-top: 50px;
    font-size: 30px;
}

.section
{
    background-color: aquamarine;



}
.saveButton, .editButton{
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #3ac162;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}
